*{
    margin: 0px;
    padding: 0px;

}
body{
    text-align: center;
}
.container{
    width: 100%;
    height: 80vh;
    border: 2px solid skyblue;
}
h2{
    font-size: 25px;
}
.header{
  background-color: aqua;
  text-align: center;
  height: 20vh;
}
.header h1{
    color:white;
    font-size: 30px;
}
.header h1 img{
    margin-top: 30px;
}
.header h5{
    color:white;
}
input{
    width: 500px;
    border-radius: 1px;
    font-size: 20px;
    margin-left:5px;
    padding: 5px;
}
form{
    margin-left: 20%;
   margin-right:20%;
   border: 1px solid blue;
}
.btn{
    background-color:aqua ;
    color: white;
    border: none;
    padding: 5px;
}
.info{
    background-color: white;
}
